<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Regions</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class = "text-center"> Select period of time </h1>
        <div class = "card-body">
            <form th:action="@{/getFilteredRocketStrikes}" method="POST">
                <div class ="form-group">
                    <label> Since date </label>
                    <input
                            type = "datetime-local"
                            name = "sinceDate"
                            id = "sinceDate"
                            class = "form-control"
                            placeholder="Enter start date"
                            min="2022-02-24T00:00"
                            value="2022-06-01T00:00"
                            required
                    />
                </div>

                <div class ="form-group">
                    <label> Until date </label>
                    <input
                            type = "datetime-local"
                            name = "untilDate"
                            id = "untilDate"
                            class = "form-control"
                            placeholder="Enter end date"
                            min="2022-02-24T00:00"
                            value="2022-06-01T00:00"
                            required
                    />
                </div>

                <div>
                    <label for="sortField">Choose sorting field:</label>
                    <select name="sortField" id="sortField">
                    <span th:each="sortField : ${listSortFields}">
                        <option th:value="${sortField}" th:text="${sortField}"></option>
                    </span>
                    </select>

                    <label for="sortDir">Choose sorting direction:</label>
                    <select name="sortDir" id="sortDir">
                    <span th:each="sortDir : ${listSortDir}">
                        <option th:value="${sortDir}" th:text="${sortDir}"></option>
                    </span>
                    </select>
                </div>

                <div>
                    <input type="checkbox" onClick="toggle(this)" /> Select All<br/>

                    <div th:each="region : ${listRegions}">
                        <input type="checkbox" th:id="${region.id}"
                               name="checkedRegions" th:value="${region.id}">
                        <label th:for="${region.regionalCentre}" th:text="${region.regionalCentre}"></label>
                    </div>
                </div>

                <div class = "box-footer">
                    <button type="submit" class = "btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="container my-2">
    <h1>Rocket strikes list</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Region</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rocketStrike : ${listRocketStrikes}">
            <td th:text="${rocketStrike.region.regionalCentre}"></td>
            <td th:text="${#temporals.format(rocketStrike.strikeDate, 'MM/dd/yyyy hh:mm a')}"></td>
            <td>
                <a th:href = "@{/forecast/{id}(id=${rocketStrike.id})}"
                   class = "btn btn-primary">Show forecast</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/select-all-regions.js"></script>
</body>
</html>